.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background: #000;
}

.input-text {
  display: inline;
  margin: 0;
  border: none;
  border-radius: 0.4rem;
  padding: 10px;
}

.list ul li button {
  position: absolute;
  right: 0%;
  background: #f34541;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 0.4rem;
  display: inline-block;
  border: none;
}

.add-btn {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #7313cb;
  margin: 20px;
  padding: 10px;
  border-radius: 0.4rem;
  display: inline-block;
  border: none;
}

.app-title {
  text-align: center;
  color: #c1c1c1;
  font-size: calc(10px + 2vmin);
}
ul {
  /* remove default padding and margin from ul*/
  margin: 0px;
  padding: 0px;
}
.list ul li {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  line-height: 30px;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: #cccccc;
  padding: 10px;
  position: relative;
  text-align: start;
  font-size: large;
}

.container {
  color: #fff;
  max-width: 500px;
  margin: auto;
}
